{% extends 'structures/base.html' %}
{% block title %}Add a New {{ form.tag }}{% endblock %}
{% block microgrids_active %}active{% endblock %}

{% load bootstrap %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <!-- Left Microgrid Info -->
        <div class="col-sm-4 col-md-3">
            {% include 'structures/left_info.html' with microgrid=microgrid %}
        </div>
        <!-- Right Object Info -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New {{ form.tag|filter_1 }}</h3>
                    <div class="divider"></div>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="microgrid" value="{{ microgrid }}">
                        {{ form|bootstrap }}
                        {% if profiles %}
                            <div class="form-group">
                                <label class=" control-label" for="profilesSelect">Choose the Profile</label>
                                <select class=" form-control" id="profileSelect" onchange="refresh()">
                                    {% for profile in profiles %}
                                        <option value="{{ forloop.counter }}" >{{ profile.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <canvas id="levelsChart"></canvas>
                                <script>
                                    var color_list = [
                                        { bg: "rgba(75,192,192,0.4)", lc: "rgba(75,192,192,1)"},
                                        { bg: "rgba(75,152,152,0.4)", lc: "rgba(75,152,152,1)"}
                                    ];
                                    var labels = []
                                    var horizon = {{ microgrid.horizon|safe }};
                                    var resolution = {{ microgrid.resolution|safe }};

                                    for (var i=1;i<=(horizon/resolution);i++) {
                                        labels.push(i);
                                    }

                                    var ctx = document.getElementById("levelsChart");
                                    var levelsChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                           labels: labels,
                                           datasets: []
                                        },
                                    });

                                    var profile = {{ profiles|safe }}[0];
                                    var levelsData = [];

                                    levelsData.push({
                                        data: profile.levels,
                                        label: profile.name,
                                        backgroundColor: color_list[0].bg,
                                        borderColor: color_list[0].lc,
                                    })

                                    levelsChart.data.datasets = levelsData
                                    levelsChart.update()
                                </script>
                                <script>
                                function refresh() {
                                    var color_list = [
                                        { bg: "rgba(75,192,192,0.4)", lc: "rgba(75,192,192,1)"},
                                        { bg: "rgba(75,152,152,0.4)", lc: "rgba(75,152,152,1)"}
                                    ];
                                    var labels = []
                                    var horizon = {{ microgrid.horizon|safe }};
                                    var resolution = {{ microgrid.resolution|safe }};

                                    for (var i=1;i<=(horizon/resolution);i++) {
                                        labels.push(i);
                                    }

                                    var ctx = document.getElementById("levelsChart");
                                    var levelsChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                           labels: labels,
                                           datasets: []
                                        },
                                    });

                                    var profile = {{ profiles|safe }}[$("#profileSelect").val()-1];
                                    var levelsData = [];

                                    levelsData.push({
                                        data: profile.levels,
                                        label: profile.name,
                                        backgroundColor: color_list[0].bg,
                                        borderColor: color_list[0].lc,
                                    })

                                    levelsChart.data.datasets = levelsData
                                    levelsChart.update()
                                    $('#id_profile').val(profile.name);
                                }
                                </script>
                            </div>
                        {% endif %}
                        <div class="btn-toolbar">
                                <button type="submit" class="btn btn-success">Add</button>
                                <a class="btn btn-primary" href="{% url 'structures:detail' microgrid.id %}">Back</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}