{% extends 'structures/base.html' %}
{% block title %}Add a New {{ form.tag }}{% endblock %}
{% block microgrids_active %}active{% endblock %}
{% load bootstrap %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <!-- Left Microgrid Info -->
        <div class="col-sm-4 col-md-3">
            {% include 'structures/left_info.html' with microgrid=microgrid %}
        </div>
        <!-- Right Object Info -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add New Tasks for {{ form.appliance_tag|filter_1 }}</h3>
                    <div class="divider"></div>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <div class="btn-toolbar">
                                <button type="submit" class="btn btn-success">Add</button>
                                <a class="btn btn-primary" href="{% url 'structures:detail' microgrid.id %}">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function inable_disable(task_name)
    {
    if (document.getElementById('id_'+task_name).checked == true)
      {
      document.getElementById('id_'+task_name+'_duration').removeAttribute('disabled');
      document.getElementById('id_'+task_name+'_delay').removeAttribute('disabled');
      document.getElementById('id_'+task_name+'_consumption').removeAttribute('disabled');
      }
    else
      {
      document.getElementById('id_'+task_name+'_duration').setAttribute('disabled','disabled');
      document.getElementById('id_'+task_name+'_delay').setAttribute('disabled','disabled');
      document.getElementById('id_'+task_name+'_consumption').setAttribute('disabled','disabled');
      }
    }
</script>

{% endblock %}