<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} EMS Builder {% endblock %}</title>

    <!-- Loads paths to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'structures/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/en-gb.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'structures:index' %}">
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp; rEMpy
                </a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <u1 class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'structures:index' %}">Micro Grids</a>
                    </li>
                </u1>
                <u1 class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'structures:graphs' 0 %}">Visualize Data</a>
                    </li>
                </u1>
                <u1 class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{% url 'structures:create_microgrid' %}">
                        <!--<a href="#">-->
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Micro grid
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'structures:logout_user' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                </u1>

            </div>


        </div>
    </nav>
{% block body %}{% endblock %}
</body>
</html>