{% if new_alerts_nr = 0 %}
    <p>No new alerts.</p>
{% else %}
    {% if new_alerts_nr == 1 %}
        <strong>Found {{ new_alerts_nr }} new alert, <a href="{% url 'structures:index' %}">refresh</a> page to display it.</strong>
    {% else %}
        <strong>Found {{ new_alerts_nr }} new alerts, <a href="{% url 'structures:index' %}">refresh</a> page to display them.</strong>
    {% endif %}
{% endif %}