{% extends 'structures/base.html' %}
{% block title %}Add a New Micro Grid{% endblock %}
{% block microgrids_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="" method="post" >
                        {% csrf_token %}
                        {% include 'structures/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-2 col-md-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}