{% extends 'structures/base.html' %}
{% block title %}{{ microgrid }}{% endblock %}
{% block microgrids_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Microgrid Info -->
        <div class="col-sm-4 col-md-3">
            {% include 'structures/left_info.html' with microgrid=microgrid %}
            {% include 'structures/nodes_table.html' with microgrid=microgrid %}
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabel" data-toggle="tab">Electrical Devices</a></li>
                        <li><a href="#tabother" data-toggle="tab">Other Devices</a></li>
                        <li><a href="#tabtasks" data-toggle="tab">Tasks</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">

                        <!-- Electrical Structures Pane -->
                        <div class="tab-pane fade in active" id="tabel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col col-xs-6">
                                        <h3 class="panel-title">Electrical Devices</h3>
                                    </div>
                                    <div class="col col-xs-6">
                                        <div class="pull-right">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuStructures" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span class="caret"></span>&nbsp; Add an Electrical Device
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuStructures">
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'storage' %}">Electrical Storage</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'production' %}">Photovoltaic</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'purchaser' %}">Electrical Purchaser</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'seller' %}">Electrical Seller</a></li>
                                                    <hr class="divider">
                                                    <li class="dropdown-header">Loads</li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'load' %}">Electrical Load</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'ep_load' %}">Ep Load</a></li>
                                                    <hr class="divider">
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'pipe' %}">Unidirectional Electrical Link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="col-check"><input type="checkbox" id="checkall" onclick="test()"/>
                                        </th>
                                        <th class="hidden-xs">ID</th>
                                        <th class="col-text">Name</th>
                                        <th class="col-text">Connected Nodes</th>
                                        <th class="col-tools">
                                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% include 'structures/print_structure.html' with structures=microgrid.el_storage_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.el_production_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.el_seller_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.el_purchaser_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.el_load_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.epload_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.el_pipe_set.all %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Other Structures Pane -->
                        <div class="tab-pane fade" id="tabother">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col col-xs-6">
                                        <h3 class="panel-title">Other Devices</h3>
                                    </div>
                                    <div class="col col-xs-6">
                                        <div class="pull-right">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuOtherStructures" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span class="caret"></span>&nbsp; Add a Device
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOtherStructures">
                                                    <li class="dropdown-header">Tri- and Cogenerators</li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'gas' 'Ttrigenerator' %}">Gas Trigenerator</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'gas' 'cogenerator' %}">Gas Cogenerator</a></li>
                                                    <li class="divider"></li>
                                                    <li class="dropdown-header">Generators (Heating/Water)</li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'gas' 'heater' %}">Gas Heater</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'heater' %}">Electrical Boiler</a></li>
                                                    <li class="divider"></li>
                                                    <li class="dropdown-header">Generators (Cooling)</li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'el' 'cooler' %}">Electrical Chiller</a></li>
                                                    <li class="divider"></li>
                                                    <li class="dropdown-header">Purchasers</li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'gas' 'purchaser' %}">Gas Purchaser</a></li>
                                                    <li class="divider"></li>
                                                    <li class="dropdown-header">Loads</li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'gas' 'load' %}">Gas Load</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'heating' 'load' %}">Heating Load</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'cooling' 'load' %}">Cooling Load</a></li>
                                                    <li><a href="{% url 'structures:create_structure' microgrid.id 'water' 'load' %}">Water Load</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="col-check"><input type="checkbox" id="gascheckall" onclick="test()"/>
                                        </th>
                                        <th class="hidden-xs">ID</th>
                                        <th class="col-text">Name</th>
                                        <th class="col-text">Connected Nodes</th>
                                        <th class="col-tools">
                                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% include 'structures/print_structure.html' with structures=microgrid.gas_purchaser_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.generator_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.trigenerator_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.cogenerator_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.heating_load_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.cooling_load_set.all %}
                                    {% include 'structures/print_structure.html' with structures=microgrid.water_load_set.all %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Tasks Pane -->
                        <div class="tab-pane fade" id="tabtasks">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col col-xs-6">
                                        <h3 class="panel-title">Tasks</h3>
                                    </div>
                                    <div class="col col-xs-6">
                                        <div class="pull-right">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuTasks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span class="caret"></span>&nbsp; Add a Task
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTasks">
                                                    {% for appliance in appliances %}
                                                        <li class="dropdown-header">{{ appliance.name|filter_1 }}</li>
                                                            {% for profile in appliance.profiles %}
                                                                <li><a href="{% url 'structures:create_task' microgrid.id appliance.name profile.name %}">
                                                                    {{ profile.name|filter_1 }}
                                                                </a></li>
                                                            {% endfor %}
                                                        <li class="divider"></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="col-check"><input type="checkbox" id="tcheckall" onclick="test()"/>
                                        </th>
                                        <th class="hidden-xs">ID</th>
                                        <th class="col-text">Name</th>
                                        <th class="col-text">Connected Node</th>
                                        <th class="col-text">Master Task</th>
                                        <th class="col-text">Slave Task</th>
                                        <th class="col-text">Starts After</th>
                                        <th class="col-text">Ends Before</th>
                                        <th class="col-text">Duration</th>
                                        <th class="col-tools">
                                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% include 'structures/print_task.html' with tasks=microgrid.task_set.all %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}