{% extends 'structures/base.html' %}
{% block title %}{% if microgrid %}{{ microgrid }}{% else %}No Active MicroGrids{% endif %}{% endblock %}
{% block microgrids_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        {% if microgrid %}

        <!-- Left Microgrid Info -->
        <div class="col-sm-4 col-md-3">
            {% include 'structures/left_info.html' with microgrid=microgrid %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">Displayed Schedule</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <h5>{{ requested_schedule.issued_time }}</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#graph_panel" data-toggle="tab">Graphs</a></li>
                        <li><a href="#schedule_panel" data-toggle="tab">Schedules</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">

                        <!-- Graphs Panel -->
                        <div id="graph_panel" class="tab-pane fade in active">
                            <div class="row">
                                {% if data.storages %}
                                <div class="col-sm-4 col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>Storage Levels</h4>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="storagesChart"></canvas>
                                        </div>
                                        <script>
                                            // Retrieve storages data from context
                                            var color_list = [
                                                { bg: "rgba(75,192,192,0.4)", lc: "rgba(75,192,192,1)"},
                                                { bg: "rgba(75,152,152,0.4)", lc: "rgba(75,152,152,1)"}
                                            ];
                                            var labels = [];
                                            var horizon = {{ microgrid.horizon|safe }};
                                            var resolution = {{ microgrid.resolution|safe }};

                                            for (var i=1;i<=(horizon/resolution);i++) {
                                                labels.push(i);
                                            }

                                            var ctx = document.getElementById("storagesChart");
                                            var storagesChart = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                   labels: labels,
                                                    datasets: []
                                                }
                                            });

                                            var storages = {{ data.storages|safe }};
                                            var storageData = [];

                                            for (i = 0; i < storages.length; i++) {
                                                storageData.push({
                                                    data: storages[i].data.levels,
                                                    label: storages[i].name,
                                                    backgroundColor: color_list[i].bg,
                                                    borderColor: color_list[i].lc,
                                                })
                                            }

                                            if (storageData.length > 1) {
                                                var sumData = Array(labels.length).fill(0);
                                                for (i = 0; i < storageData.length; i++) {
                                                    for (j = 0; j < storageData[i].data.length; j++){
                                                        sumData[j] = sumData[j] + storageData[i].data[j]
                                                        }
                                                }

                                                storageData.push({
                                                    data: sumData,
                                                    label: 'Sum'
                                                })
                                            }

                                            storagesChart.data.datasets = storageData;
                                            storagesChart.update()

                                        </script>
                                    </div>
                                </div>
                                {% endif %}
                                {% if data.prods %}
                                <div class="col-sm-4 col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>Production</h4>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="prodsChart"></canvas>
                                        </div>
                                        <script>
                                                // Retrieve prods data from context

                                                var color_list = [
                                                    { bg: "rgba(238,232,170,0.4)", lc: "rgba(238,232,170,1)"},
                                                    { bg: "rgba(189,183,107,0.4)", lc: "rgba(189,183,107,1)"},
                                                    { bg: "rgba(240,230,140,0.4)", lc: "rgba(240,230,140,1)"}
                                                ];
                                                var labels = [];

                                                var horizon = {{ microgrid.horizon }};
                                                var resolution = {{ microgrid.resolution }};

                                                for (var i=1;i<=(horizon/resolution);i++) {
                                                    labels.push(i);
                                                }

                                                var ctx = document.getElementById("prodsChart");
                                                var prodsChart = new Chart(ctx, {
                                                    type: 'line',
                                                    data: {
                                                        labels: labels,
                                                        datasets: []
                                                    },
                                                });

                                                var prods = {{ data.prods|safe }};
                                                var prodData = [];

                                                for (i = 0; i < prods.length; i++) {
                                                    prodData.push({
                                                       data: prods[i].data.production,
                                                       label: prods[i].name,
                                                        backgroundColor: color_list[i].bg,
                                                        borderColor: color_list[i].lc,
                                                    })
                                                }

                                                if (prodData.length > 1) {
                                                    var sumData = Array(labels.length).fill(0);
                                                    for (i = 0; i < prodData.length; i++) {
                                                        for (j = 0; j < prodData[i].data.length; j++){
                                                            sumData[j] = sumData[j] + prodData[i].data[j]
                                                            }
                                                        }

                                                    prodData.push({
                                                        data: sumData,
                                                        label: 'Sum',
                                                        backgroundColor: "rgba(218,165,32,0.4)",
                                                        borderColor: "rgba(218,165,32,1)"
                                                    })
                                                }

                                                prodsChart.data.datasets = prodData;
                                                prodsChart.update()

                                        </script>
                                    </div>
                                </div>
                                {% endif %}
                                {% if data.sellers %}
                                <div class="col-sm-4 col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>Sold Energy</h4>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="sellsChart"></canvas>
                                        </div>
                                        <script>
                                        // Retrieve sellers data from context
                                        var labels = [];

                                        var horizon = {{ microgrid.horizon }};
                                        var resolution = {{ microgrid.resolution }};

                                        for (var i=1;i<=(horizon/resolution);i++) {
                                            labels.push(i);
                                        }

                                        var ctx = document.getElementById("sellsChart");
                                        var sellsChart = new Chart(ctx, {
                                            type: 'line',
                                            data: {
                                                labels: labels,
                                                datasets: []
                                            },

                                        });

                                        var sells = {{ data.sellers|safe }};
                                        var sellData = [];

                                        for (i = 0; i < sells.length; i++) {
                                            sellData.push({
                                                data: sells[i].data.sales,
                                                label: sells[i].name
                                            })
                                        }

                                        if (sellData.length > 1) {
                                            var sumData = Array(labels.length).fill(0)
                                            for (i = 0; i < sellData.length; i++) {
                                                for (j = 0; j < sellData[i].data.length; j++){
                                                    sumData[j] = sumData[j] + sellData[i].data[j]
                                                        }
                                                }

                                            sellData.push({
                                                data: sumData,
                                                label: 'Sum'
                                            })
                                        }

                                        sellsChart.data.datasets = sellData;
                                        sellsChart.update()

                                        </script>
                                    </div>
                                </div>
                                {% endif %}
                                {% if data.purchasers %}
                                <div class="col-sm-4 col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>Purchased Energy</h4>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="purChart"></canvas>
                                        </div>
                                        <script>
                                            // Retrieve el_sellers data from context
                                            var labels = [];

                                            var horizon = {{ microgrid.horizon }};
                                            var resolution = {{ microgrid.resolution }};

                                            for (var i=1;i<=(horizon/resolution);i++) {
                                                labels.push(i);
                                            }

                                            var ctx = document.getElementById("purChart");
                                            var purChart = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: labels,
                                                    datasets: []
                                                }
                                            });

                                            var purs = {{ data.purchasers|safe }};
                                            var purData = [];

                                            for (i = 0; i < purs.length; i++) {
                                                purData.push({
                                                    data: purs[i].data.consumption,
                                                    label: purs[i].name
                                                })
                                            }

                                            if (purData.length > 1) {
                                                var sumData = Array(labels.length).fill(0);
                                                for (i = 0; i < purData.length; i++) {
                                                    for (j = 0; j < purData[i].data.length; j++){
                                                        sumData[j] = sumData[j] + purData[i].data[j]
                                                            }
                                                    }

                                                purData.push({
                                                    data: sumData,
                                                    label: 'Sum'
                                                })
                                            }

                                            purChart.data.datasets = purData;
                                            purChart.update()

                                        </script>
                                    </div>
                                </div>
                                {% endif %}
                                {% if data.loads or data.tasks %}
                                <div class="col-sm-4 col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>Total Loads</h4>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="loadsChart"></canvas>
                                        </div>
                                        <script>
                                            // Retrieve all loads data from context

                                            var loads_color_list = [
                                                { bg: "rgba(128,0,0,0.4)", lc: "rgba(128,0,0,1)"},
                                                { bg: "rgba(178,34,34,0.4)", lc: "rgba(178,34,34,1)"},
                                                { bg: "rgba(220,20,60,0.4)", lc: "rgba(220,20,60,1)"}
                                            ];

                                            var tasks_color_list = [
                                                { bg: "rgba(255,69,0,0.4)", lc: "rgba(255,69,0,1)"},
                                                { bg: "rgba(255,140,0,0.4)", lc: "rgba(255,140,0,1)"},
                                                { bg: "rgba(255,165,0,0.4)", lc: "rgba(255,165,0,1)"}
                                            ];

                                            var labels = [];

                                            var horizon = {{ microgrid.horizon }};
                                            var resolution = {{ microgrid.resolution }};

                                            for (var i=1;i<=(horizon/resolution);i++) {
                                                labels.push(i);
                                            }
                                            var ctx = document.getElementById("loadsChart");
                                            var loadsChart = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: labels,
                                                    datasets: []
                                                }
                                            });

                                            var loads = {{ data.loads|safe }};
                                            var taskLoads = {{ data.tasks|safe }};
                                            var loadData = [];

                                            for (i = 0; i < loads.length; i++) {
                                                loadData.push({
                                                    data: loads[i].data.loads,
                                                    label: loads[i].name,
                                                    backgroundColor: loads_color_list[(i%loads_color_list.length)].bg,
                                                    borderColor: loads_color_list[(i%loads_color_list.length)].lc
                                                })
                                            }

                                            for (i = 0; i < taskLoads.length; i++) {
                                                loadData.push({
                                                    data: taskLoads[i].data.loads,
                                                    label: taskLoads[i].name,
                                                    steppedLine: true,
                                                    backgroundColor: tasks_color_list[(i%tasks_color_list.length)].bg,
                                                    borderColor: tasks_color_list[(i%tasks_color_list.length)].lc
                                                })
                                            }

                                            if (loadData.length > 1) {
                                                var sumData = Array(labels.length).fill(0);
                                                for (i = 0; i < loadData.length; i++) {
                                                    for (j = 0; j < loadData[i].data.length; j++){
                                                        sumData[j] = sumData[j] + loadData[i].data[j]
                                                        }
                                                }

                                                loadData.push({
                                                    data: sumData,
                                                    label: 'Sum',
                                                    backgroundColor: "rgba(220,20,60,0.4)",
                                                    borderColor: "rgba(220,20,60,1)"
                                                })
                                            }

                                            loadsChart.data.datasets = loadData;
                                            loadsChart.update()

                                        </script>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Schedules Panel -->
                        <div id="schedule_panel" class="tab-pane fade">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left">All Schedules</h3>
                                <a href="{% url 'structures:graphs' 0 %}" class="btn btn-default btn-sm pull-right" role="button">
                                    Update
                                </a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <table id="schedules" class="table table-striped" style="cursor: pointer;">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Issued Time</td>
                                            <td>Validity</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for schedule in schedules %}
                                        {% if requested_schedule.id = schedule.id %}
                                            <tr class="clickable-row success" data-href="{% url 'structures:graphs' schedule.id %}">
                                                <td>{{ schedule.id }}</td>
                                                <td>{{ schedule.issued_time }}</td>
                                                <td>{{ schedule.validity }}</td>
                                            </tr>
                                            {% else %}
                                            <tr class="clickable-row" data-href="{% url 'structures:graphs' schedule.id %}">
                                                <td>{{ schedule.id }}</td>
                                                <td>{{ schedule.issued_time }}</td>
                                                <td>{{ schedule.validity }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <script>
                                    jQuery(document).ready(function($) {
                                        $(".clickable-row").click(function() {
                                            window.location = $(this).data("href");
                                        });
                                    });
                                </script>
                                <script>
                                    $(document).ready(function() {
                                        $('#schedules').DataTable({
                                            "autoWidth": false,
                                            ordering:  false
                                        });
                                    } );
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Microgrid Info -->

        {% else %}
        <div class="col-sm-12">
            <h3>No active microgrid found.</h3>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
