<div class="col-sm-5 col-lg-3">
    <div class="thumbnail">
        <div class="caption">
            {% if microgrid.is_active %}
                <h1 style="color: green;">{{ microgrid.name }}</h1>
            {% else %}
                <h1>{{ microgrid.name }}</h1>
            {% endif %}
            <h2>{{ microgrid.location }}</h2>
            <h4>Time Horizon: {{ microgrid.horizon }} min</h4>
            <h4>Time Resolution: {{ microgrid.resolution }} min</h4>

            <!-- MicroGrid Toolbar -->
            <div class="btn-toolbar" style="margin-bottom: 10px;">
                <a href="{% url 'structures:detail' microgrid.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                <button type="button" class="btn btn-basic btn-sm" data-toggle="modal" data-target="#cloneConfirm{{ microgrid.id }}">
                    Clone
                </button>
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exportConfirm{{ microgrid.id }}">
                    Apply
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteConfirmGrid{{ microgrid.id }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>

            {% if microgrid.is_active %}
                <!-- Grid modification warning -->
                {% if microgrid.is_modified %}
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> {{ microgrid.name }} has been modified, apply the new changes.
                    </div>
                {% endif %}

                <!-- New Alerts Warning -->
                <div class="btn-toolbar" style="margin-bottom: 10px;">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#alerts">Show Alerts</button>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#messages">Show Older Messages</button>
                </div>

                <!-- Alerts Table -->
                <div id="alerts" class="collapse">
                    {% if alerts|length == 0 %}
                        <strong>No alerts to display.</strong>
                    {% else %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-text">Alert Message</th>
                                    <th class="col-tools">
                                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for alert in alerts %}
                                    <tr>
                                        <td>
                                            {{ alert.msg }}
                                        </td>
                                        <td>
                                            <div class="btn-toolbar">
                                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                                        data-target="#dismissConfirmAlert{{ alert.id }}">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% for alert in alerts %}
                            <!-- Alert Dismiss Modal -->
                            <div class="modal fade" id="dismissConfirmAlert{{ alert.id }}" role="dialog" tabindex="-1"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3>Warning</h3>
                                        </div>
                                        <div class="modal-body">
                                            Do you really want to dismiss {{ alert.msg|filter_1 }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <form action="{% url 'structures:disable_alert' alert.id %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Dismiss</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>

                <!-- Alerts Table -->
                <div id="messages" class="collapse">
                    {% if messages|length == 0 %}
                        <strong>No old messages to display.</strong>
                    {% else %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- New Alerts Warning and update script -->
                <div class="alert alert-danger" id="check_ems_alerts">
                    {% include 'structures/check_ems_alerts.html' %}
                </div>
                <script>
                    var ALERT_URL = "{% url 'structures:check_ems_alerts' %}";
                    function refresh_alerts() {
                      $.ajax({
                      url: ALERT_URL,
                      success: function(data) {
                        $('#check_ems_alerts').html(data);
                      }
                     });
                    };

                    $(document).ready(function ($) {
                      refresh_alerts();
                      var int = setInterval("refresh_alerts()", 3000);
                    });
                </script>

                <!-- Latest message from EMS and update script -->
                <div class="alert alert-info" id="ems_message">
                    {% include 'structures/ems_message.html' %}
                </div>
                <script>
                    var MESSAGE_URL = "{% url 'structures:ems_message' %}";
                    function refresh_messages() {
                      $.ajax({
                      url: MESSAGE_URL,
                      success: function(data) {
                        $('#ems_message').html(data);
                      }
                     });
                    };

                    $(document).ready(function ($) {
                      refresh_messages();
                      var int = setInterval("refresh_messages()", 3000);
                    });
                </script>
            {% endif %}

            <!-- Clone Modal -->
            <div class="modal fade" id="cloneConfirm{{ microgrid.id }}" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Warning</h3>
                        </div>
                        <div class="modal-body">
                            You are creating a copy of {{ microgrid.name }}: all structures will be cloned, but not tasks. Do you really want to proceed?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <form action="{% url 'structures:clone_microgrid' microgrid.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="microgrid_id" value="{{ microgrid.id }}" />
                                <button type="submit" class="btn btn-success">
                                    Yes, clone
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Export Modal -->
            <div class="modal fade" id="exportConfirm{{ microgrid.id }}" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Warning</h3>
                        </div>
                        <div class="modal-body">
                            You are exporting a JSON representation of {{ microgrid.name }}. Do you really want to proceed?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <form action="{% url 'structures:export_microgrid' microgrid.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="microgrid_id" value="{{ microgrid.id }}" />
                                <button type="submit" class="btn btn-success">
                                    Yes, export
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteConfirmGrid{{ microgrid.id }}" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Warning</h3>
                        </div>
                        <div class="modal-body">
                            Do you really want to delete the MicroGrid?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <form action="{% url 'structures:delete_microgrid' microgrid.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
