{% extends 'structures/base.html' %}
{% block title %}All MicroGrids{% endblock %}
{% block microgrids_active %}active{% endblock %}

{% block body %}

<div class="container-fluid">
    <!-- Microgrids -->
    <div class="row">
        {% if message %}
            <div class="alert alert-info">
              <strong>Info:</strong> {{ message }}
            </div>
        {% endif %}

        {% if microgrids %}
            {% for microgrid in microgrids %}
            {% include 'structures/index_grid.html' with microgrid=microgrid alerts=alerts messages=messages %}
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
{% endblock %}

