<div class="panel panel-default">
    <div class="panel-body">
        <h1><a href="{% url 'structures:edit_microgrid' microgrid.id %}">{{ microgrid.name }}</a></h1>
        <h2>{{ microgrid.location }}</h2>
        <h4>Time Horizon: {{ microgrid.horizon }} min</h4>
        <h4>Time Resolution: {{ microgrid.resolution }} min</h4>
    </div>
</div>

