<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a data-toggle="dropdown">Select Node Type<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#tabenodes" data-toggle="tab">Electrical Nodes</a></li>
                    <li><a href="#tabgnodes" data-toggle="tab">Gas Nodes</a></li>
                    <li><a href="#tabhnodes" data-toggle="tab">Heating Nodes</a></li>
                    <li><a href="#tabcnodes" data-toggle="tab">Cooling Nodes</a></li>
                    <li><a href="#tabwnodes" data-toggle="tab">Water Nodes</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabenodes">
                <div class="panel-body">
                    {% include 'structures/print_nodes.html' with nodes=microgrid.el_node_set.all %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'structures:create_structure' microgrid.id 'el' 'node' %}" class="btn btn-default" role="button">
                        New E-Node
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="tabgnodes">
                <div class="panel-body">
                    {% include 'structures/print_nodes.html' with nodes=microgrid.gas_node_set.all %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'structures:create_structure' microgrid.id 'gas' 'node' %}" class="btn btn-default" role="button">
                        New G-Node
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="tabhnodes">
                <div class="panel-body">
                    {% include 'structures/print_nodes.html' with nodes=microgrid.heating_node_set.all %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'structures:create_structure' microgrid.id 'heating' 'node' %}" class="btn btn-default" role="button">
                        New H-Node
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="tabcnodes">
                <div class="panel-body">
                    {% include 'structures/print_nodes.html' with nodes=microgrid.cooling_node_set.all %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'structures:create_structure' microgrid.id 'cooling' 'node' %}" class="btn btn-default" role="button">
                        New C-Node
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="tabwnodes">
                <div class="panel-body">
                    {% include 'structures/print_nodes.html' with nodes=microgrid.water_node_set.all %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'structures:create_structure' microgrid.id 'water' 'node' %}" class="btn btn-default" role="button">
                        New W-Node
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

