<table class="table table-striped">
    <thead>
        <tr>
            <th class="hidden-xs">ID</th>
            <th class="col-text">Name</th>
            <th class="col-tools">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </th>
        </tr>
    </thead>
    {% for node in nodes %}
        <tr>
            <td>
                {{ node.tag }}-{{ node.id }}
            </td>
            <td>
                {{ node.name }}
            </td>
            <td>
                <div class="btn-toolbar">
                    <a class="btn btn-default btn-xs" href="{% url 'structures:edit_structure' node.microgrid.id node.tag node.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                            data-target="#deleteConfirmNode{{ node.id }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>

    {% endfor %}
</table>

{% for node in nodes %}
    <div class="modal fade" id="deleteConfirmNode{{ node.id }}" role="dialog" tabindex="-1"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Warning</h3>
                                </div>
                                <div class="modal-body">
                                    Do you really want to delete {{ node.name|filter_1 }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <form action="{% url 'structures:delete_structure' node.microgrid.id node.tag node.id %}"
                                          method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
{% endfor %}