{% for task in tasks %}
    <tr>
        <td align="center"><input type="checkbox" class="checkthis"/></td>
        <td align="center">
            task-{{ task.id }}
        </td>
        <td>
            {{ task.name }} {{ task.secondary_id }}
        </td>
        <td>
            {{ task.node.name }}
        </td>
        <td>
            {% if task.master_id != 0 %}
                task-{{ task.master_id }}
            {% else %}
                No master.
            {% endif %}
        </td>
        <td>
            {% if task.slave_id != 0 %}
                task-{{ task.slave_id }}
            {% else %}
                No slave.
            {% endif %}
        </td>
        <td>
            {{ task.min_start_time }}
        </td>
        <td>
            {{ task.max_end_time }}
        </td>
        <td>
            {{ task.duration }}
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteConfirmtask{{ task.id }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <div class="modal fade" id="deleteConfirmtask{{ task.id }}" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Warning</h3>
                        </div>
                        <div class="modal-body">
                            Do you really want to delete {{ task.name }} {{ task.secondary_id }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <form action="{% url 'structures:delete_structure' task.microgrid.id task.tag task.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}

