{% for structure in structures %}
<tr>
    <td align="center"><input type="checkbox" class="checkthis"/></td>
    <td>
        {% if structure.tag == 'EpLoad' %}
            Load-{{ structure.id }}
        {% else %}
            {{ structure.tag }}-{{ structure.id }}
        {% endif %}
    </td>
    <td>
        {{ structure.name }}
    </td>
    <td>
        {% if structure.tag == 'Pipe' %}
            <b>Input</b>: {{ structure.input_node }}<br>
            <b>Output</b>: {{ structure.output_node }}
        {% else %}
            {% if structure.tag == 'Trigenerator' %}
                <b>Inputs</b>:
                {% for node in structure.input_nodes.all %}
                    {{ node.name }}
                {% endfor %}<br>
                <b>El. Outputs</b>:
                {% for node in structure.output_nodes_ele.all %}
                    {{ node.name }}
                {% endfor %}<br>
                <b>Heating Outputs</b>:
                {% for node in structure.output_nodes_heat.all %}
                    {{ node.name }}
                {% endfor %}<br>
                <b>Cooling Outputs</b>:
                {% for node in structure.output_nodes_chill.all %}
                    {{ node.name }}
                {% endfor %}
            {% else %}
                {% if structure.tag == 'Heater' or structure.tag == 'Boiler' or structure.tag == 'Cooler' %}
                    <b>Inputs</b>:
                    {% for node in structure.input_nodes.all %}
                        {{ node.name }}
                    {% endfor %}<br>
                    <b>Outputs</b>:
                    {% for node in structure.output_nodes.all %}
                        {{ node.name }}
                    {% endfor %}
                {% else %}
                    {% if structure.tag == 'Cogenerator' %}
                        <b>Inputs</b>:
                        {% for node in structure.input_nodes.all %}
                            {{ node.name }}
                        {% endfor %}<br>
                        <b>El. Outputs</b>:
                        {% for node in structure.output_nodes_ele.all %}
                            {{ node.name }}
                        {% endfor %}<br>
                        <b>Heating Outputs</b>:
                        {% for node in structure.output_nodes_heat.all %}
                            {{ node.name }}
                        {% endfor %}
                    {% else %}
                        {% for node in structure.nodes.all %}
                            {{ node.name }}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </td>
    <td>
        <div class="btn-toolbar">
            <a class="btn btn-default btn-xs" href="{% url 'structures:edit_structure' structure.microgrid.id structure.tag structure.id %}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteConfirmStructure{{structure.tag}}_{{ structure.id }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>
        <div class="modal fade" id="deleteConfirmStructure{{structure.tag}}_{{ structure.id }}" role="dialog" tabindex="-1"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Warning</h3>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete {{ structure.name }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <form action="{% url 'structures:delete_structure' structure.microgrid.id structure.tag structure.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% endfor %}

